body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f7f7f7;
  color: #222;
  transition: 0.4s;
}

/* DARK MODE */
body.dark {
  background: #121212;
  color: #eee;
}

body.dark .card {
  background: #1e1e1e;
  color: #eee;
}

body.dark .hero {
  filter: brightness(0.8);
}

.dark-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 8px 18px;
  border: none;
  background: #333;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  z-index: 999;
}

.hero {
  background: linear-gradient(90deg, #ff8800, #32cd32);
  text-align: center;
  padding: 30px 10px;
}

.cta {
  margin-top: 15px;
  padding: 10px 25px;
  background: #0b57ff;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.card {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
  transition: 0.4s;
}
